
h3{
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
}

h4{
  font-family: 'ABeeZee', sans-serif;
}

#directions{
  border: 5px solid #ef5f5f;
}

.ind-goal-art{
  width: 70%;
  padding:2%;
  font-size: 32pt;
}

td{
  border: 5px solid blue;
  margin-left: 100px;
}
section{
  margin: 0 auto;
  width: 85%;
}
.q{
  width: 48%;
  float: left;
  margin-right: 2%;
}
.clear-fix:after{
  content: "";
  clear: both;
  display: block;
  font-size: 20pt;
}
li{
 list-style-type: none;
}
.add{
  font-weight: bold;
  display: inline-block;
  width: 5%;
}
.subtract{
  font-weight: bold;
  display: inline-block;
  width: 5%;
}
.extra1{
  display: none;
}

.extra2{
  display: none;
}
.extra3{
  display: none;
}
.extra4{
  display: none;
}
