@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=ABeeZee);

title{
    font-family: 'Poiret One', cursive;
}
body{
    font-family: 'Poiret One', cursive;
    text-align: center;
    /*background-image:url("grid_tile.jpg");
    background-size:contain;
    background-repeat: repeat;*/
    background-color: white;
    font-size: 20pt;
}
h1{
  font-weight: bolder;
  text-align: left;
  font-family: 'ABeeZee', sans-serif;
  font-weight: lighter;
  color:#909090;
  font-size: 15pt;

}
article{
  background-color: #e4e4e4 ;
  width: 50% ;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
  padding-top: .01%;
  border-radius: 20px;
  box-shadow: 2.5px 2.5px 1.25px #888
}
#logo{
  position:sticky;
  float:left;
  max-width: 100%;
}

#login{
  text-align:right;
  margin-right: 21%;
}
